<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.freepik.com/512/1724/1724634.png?uid=R153386611&ga=GA1.1.175742231.1736512338" />
  
    <link
      rel="stylesheet"
      href="https://rfglobalcss.netlify.app/documents/global.css"
    />
    <!-- bootstrap 5.3 version link -->
    <link rel="stylesheet" href="/Css/style.css" />
    <title>Home</title>
  </head>
  <body class="bgc">
    <%- include('navbar.ejs') %>
    <!--  -->
    <%- include('flash.ejs') %>
    <!--  -->
    <%- body -%>
    <!--  -->
    <%- include('footer.ejs') %>
    <script src="/Js/script.js"></script>
  </body>
</html>
