<% layout("boilerplate") %>
<!-- banner -->
<div class="banner">
  <div class="container">
    <div class="banner-info">
      <h1 style="color: #fff;">WELCOME TO OUR WEBSITE</h1>
      <p>
        Lorem ipsum dolor amet consectetur. Lorem ipsum dolor sit amet
        consectetur adipisicing elit.
      </p>
      <div class="btn">
        <a href="/listings">View Listings</a>
        <a class="outline" href="/listings/new">Create Listing</a>
      </div>
    </div>
  </div>
</div>

<div class="cards container">
  <h1>Most Populer Listings</h1>
  <div class="row">
    <!--  -->
    <% for (let i = 5; i <= 8; i++) { %> 
      <div class="col-md-3">
        <a href="/listings/<%= listings[i]._id %>" class="card">
          <div class="img">
            <img src="<%= listings[i].image.url %>" alt="image" />
          </div>
          <div class="card-body">
            <h3><%= listings[i].title %></h3>
            <p>
              <%= listings[i].description %>
            </p>
          </div>
        </a>
      </div>
      <%} %>
  </div>
</div>
