<div class="container wbgc">
  <nav class="navbar">
    <ul class="menu">
      <li>
        <a href="/"
          ><img
            class="logo"
            src="https://cdn-icons-png.freepik.com/512/1724/1724634.png?uid=R153386611&ga=GA1.1.175742231.1736512338"
            alt="logo"
        /></a>
      </li>
      <li><a href="/">Home</a></li>
      <li><a href="/listings">Listings</a></li>
      <li><a href="/listings/new">Create</a></li>
    </ul>
    <div class="user">
      <ul class="f aic gap10">
        <div class="user">
          <ul class="f aic gap10">
            <% if (currUser) { %>
            <li><a href="/logout">Log Out</a></li>
            <% } else { %>
            <li><a href="/login">Log In</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <% } %>
          </ul>
        </div>
      </ul>
    </div>
  </nav>
</div>
