<div class="wraper">
  <nav class="navbar container">
    <ul class="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/listings">Listings</a></li>
      <li><a href="/listings/new">Create</a></li>
    </ul>
  </nav>
</div>
