<div class="container wbgc">
  <nav class="navbar f aic jcsb">
    <ul class="menu f5 cg20">
      <li>
        <a href="/"
          ><img
            class="logo"
            src="https://cdn-icons-png.freepik.com/512/1724/1724634.png?uid=R153386611&ga=GA1.1.175742231.1736512338"
            alt="logo"
        /></a>
      </li>
      
    </ul>
    <div class="user f4">
      <ul class="f aic jce gap10">
        <% if (currUser) { %>
        <li class="f1 dropdown">
          <a href="#" class="logo"
            ><img
              class="br100p oneByone"
              src="<%= currUser.dp %>"
              alt="user-dp"
          /></a>
          <div class="dropdown-menu left">
            <ol>
              <li><a href="/listings/new">Create</a></li>
              <li class="text mt5"><a href="/user/account">Account</a></li>
              <li class="text mt5"><a href="/user/profile/<%= currUser.username %>">Channel</a></li>
              <li class="text mt5"><a href="/logout">Logout</a></li>
            </ol>
          </div>
        </li>
        <% } else { %>
        <li><a href="/login">Log In</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <% } %>
      </ul>
    </div>
  </nav>
</div>
