@media screen and (max-width: 700px) {
    a.card {
        flex-direction: column;
    }
    a.card:nth-child(odd) {
        flex-direction: column !important;
    }
}
@media screen and (max-width: 700px) {
    .User-listings p{
        display: none;
    }
    .delete-edit{
        align-items: center;
        justify-content: center;
    }
}