@import url("./navbarFooter.css");
@import url("./bannerCards.css");
@import url("./Form.css");
@import url("./media.css");
@import url("./profile.css");
:root {
  --btn-color: #00a8fc;
  --container-size: 1300px;
  --f3: 0 0 calc(33.335% - 20px);
  --sh: 1.2rem;
  --mtc: #333;
  --mbgc: #151515;
  --danger-color: #dc3545;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --body-color: #212529;
  --text-color: #333;
  --link-color: #007bff;
  --link-hover-color: #0056b3;
  --link-hover-text-color: #fff;
  --bg-color: #f8f9fa;
  --border-color: #e3e3e3;
  --border-radius: 0.25rem;
  --transition: all 0.5s ease;
}
.container {
  padding: 10px;
}

.green {
  color: green;
}
.code-box{
  background-color: #151515;
  color: #f8f9fa;
  padding: 2px 10px;
  border-radius: 10px;

}
body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dn {
  display: none;
}

.price,
.location,
.country,
.description {
  margin: 2px 0;
}
.gapc10 {
  column-gap: 20px;
}
.box {
  display: block;
  padding: 5px 10px;
  background-color: #151515;
  color: #f8f9fa;
}
.box2 {
  padding: 5px 10px;
  background-color: #151515;
  color: #f8f9fa;
}
.cus-pad {
  padding: 20px;
}
a.block{
  display: inline-block;
}
/* Error Page*/
.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
}
.error-heading {
  font-size: 10rem;
  font-weight: 700;
  color: var(--danger-color);
}
.error-subheading {
  font-size: 2rem;
  max-width: 600px;
  font-weight: 600;
  color: #333;
  margin: 10px 0;
}
.error-text {
  font-size: 1rem;
  color: #666;
  margin: 10px 0;
}

.error-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  text-align: center;
}
.error-message h1 {
  font-size: 3rem;
  font-weight: 700;
  color: var(--danger-color);
  margin-bottom: 20px;
}
.error-message p {
  font-size: 1.2rem;
  color: #666;
  margin-bottom: 20px;
}
.error-message a {
  background-color: var(--btn-color);
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  border: 2px solid var(--btn-color);
  color: #ffffff;
}
.error-message a:hover {
  background-color: transparent;
  border: 2px solid var(--btn-color);
  color: var(--btn-color);
}
.f25 {
  flex: 0 0 calc(25% - 15px);
}
.wraper {
  width: 100%;
  background-color: white;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  background-color: var(--btn-color);
  border: 2px solid var(--btn-color);
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: transparent;
  color: var(--btn-color);
}

.avature {
  aspect-ratio: 1/1;
  object-fit: cover;
}

.Showreview {
  padding: 20px;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: #fff;
  margin-bottom: 20px;
}

.name h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin: 0;
}

.comment p {
  font-size: 1rem;
  color: #666;
  margin: 10px 0 0;
}

.max {
  max-width: min(100%, calc(var(--container-size) / 4 + 50px));
}

.msg_box {
  width: 50%;
  margin: 2rem auto;
  padding: 15px 2rem;
  border-radius: 4px;
  font-weight: bold;
  color: white;
}
.msg_box.success {
  border: 1px solid #d6e9c6;
  color: #3c763d;
  background-color: #dff0d8;
}
.msg_box.alert {
  border: 1px solid #ebccd1;
  color: #a94442;
  background-color: #f2dede;
}

.msg_box:has(input[type="checkbox"]:checked) {
  display: none;
}
