<% layout("boilerplate") %>

<!--   profile page  -->

<div class="f fdc">
  <div class="f10">
    <div class="img profile-banner">
      
    </div>
  </div>
  <div class="f jcsb">
    <div class="f3">
      <img src="<%= currUser.dp %>" alt="profile" />
    </div>
    <div class="f6">
      <h2><%= currUser.username %></h2>
      <p>Email: <%= currUser.email %></p>
    </div>
  </div>
</div>
